.alerts
  display: flex

.alert-icon
  display: inline-block

  .count
    background: red
    border-radius: 100%
    padding: .5em
    display: inline-block
    color: white
    position: relative
    right: 15px
    bottom: 15px
    line-height: .5em

    &.disabled
      background: grey

  button
    padding: 0px

  &.selected
    .count
      background: white
      color: red
      border: 1px solid
