.light-engage-trans
  transition: font-weight .15s ease-in-out
  font-weight: bold

.shadow-ext
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08)

.center-horiz
  display: flex
  justify-content: center
